body {
    font-family: Arial, sans-serif;
	margin:0px !important;
}

body {
    margin: 0px;
}
#inv-button {
  width:300px;
  height:250px;
  left:0px;
  top:0px;
  background-color:#fff;
  opacity:0;
  cursor:pointer;
}


#ad {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 250px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#banner {
    position: absolute;
    display: block;
    width: 300px;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
}



#banner {
}
i,img,div {
  display:block;
  position:absolute;
}


.anim {
left:0px;
top:0px;
right:0px;
bottom:0px;
opacity:1;
}
.o {
opacity: 0;
}
.l {
left: -300px;
}
.t {
top: -250px;
}
.r {
left:300px;
}
.b {
top: 250px;
}

.l2 {
  left: -60px;
}

.r2 {
  left: 100px;
}

#cloud,#cloud2{
  top:27px;
  left:185px;
}

#white {
  background-color:#fff;
  width:300px;
  height:250px;
}

#red {
  width:300px;
  height:250px;
  background-color:#b0000e;
}
